## Observations and Insights

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_df = pd.merge(mouse_metadata, study_results, how='outer', on='Mouse ID')

# Display the data table for preview
combined_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [5]:
# Checking the number of mice.
mice_count = combined_df["Mouse ID"].unique()
total_mice = len(mice_count)
total_mice

249

In [9]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
grouped_mice_ID = combined_df.groupby("Mouse ID")
mice_ID_count = pd.DataFrame(grouped_mice_ID["Timepoint"].count())
mice_ID_count

          Timepoint
Mouse ID
a203             10
a251             10
a262             10
a275             10
a366              7
...             ...
z435              3
z578             10
z581             10
z795             10
z969             10

[249 rows x 1 columns]

In [10]:
# Optional: Get all the data for the duplicate mouse ID. 
all_mice_data = grouped_mice_ID
# mice_ID_count = pd.DataFrame(grouped_mice_ID["Timepoint"].count())
# mice_ID_count
all_mice_data.sum()

,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,
a203,200,230,225,563.127077,11
a251,210,250,225,552.370946,8
a262,170,290,225,586.116306,23
a275,200,280,225,527.709651,12
a366,112,203,105,382.479341,1
...,...,...,...,...,...
z435,36,78,15,140.826641,0
z578,110,160,225,384.115100,0
z581,240,250,225,539.795837,20
z795,130,290,225,548.803167,14
z969,90,300,225,601.946523,22

In [14]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
unique_mice = combined_df.drop_duplicates("Mouse ID", keep='last')
unique_mice

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
9,k403,Ramicane,Male,21,16,45,22.050126,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
29,x401,Capomulin,Female,16,15,45,28.484033,0
39,m601,Capomulin,Male,22,17,45,28.430964,1
49,g791,Ramicane,Male,11,16,45,29.128472,1
...,...,...,...,...,...,...,...,...
1859,z314,Stelasyn,Female,21,28,5,45.934712,0
1862,z435,Propriva,Female,12,26,10,48.710661,0
1872,z581,Infubinol,Female,24,25,45,62.754451,3
1882,z795,Naftisol,Female,13,29,45,65.741070,3
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [15]:
# Checking the number of mice in the clean DataFrame.
cleaned_grouped_mice_ID = unique_mice.groupby("Mouse ID")
cleaned_mice_ID_count = pd.DataFrame(cleaned_grouped_mice_ID["Timepoint"].count())
cleaned_mice_ID_count

          Timepoint
Mouse ID
a203              1
a251              1
a262              1
a275              1
a366              1
...             ...
z435              1
z578              1
z581              1
z795              1
z969              1

[249 rows x 1 columns]

## Summary Statistics

In [25]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
summary_tumor = unique_mice.describe()
summary_tumor
# This method is the most straighforward, creating multiple series and putting them all together at the end.

,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
count,249.000000,249.000000,249.000000,249.000000,249.000000
mean,12.730924,26.116466,32.911647,54.999137,1.682731
std,7.228687,3.697003,15.465109,12.655080,1.325823
min,1.000000,15.000000,0.000000,22.050126,0.000000
25%,6.000000,25.000000,20.000000,45.934712,1.000000
50%,13.000000,27.000000,45.000000,55.841410,1.000000
75%,19.000000,29.000000,45.000000,64.957562,3.000000
max,24.000000,30.000000,45.000000,78.567014,4.000000

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen